/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  scrollbar-color: #333 #f5f5f5; /* thumb and track color */
  scrollbar-width: thin; /* can be set to "thin", "none", or "auto" */
  background-color: #121212;
}

a,
button {
  all: unset;
  cursor: pointer;
}

/* This will change the track of the scrollbar (the background) */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  background-color: #f5f5f5; /* color of the track */
}

/* This will change the button (the sliding part) */
::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll button */
  border-radius: 6px; /* roundness of the scroll button */
  border: 2px solid #f5f5f5; /* creates padding effect */
}

/* This changes the corner where both horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

// .cdk-overlay-pane {
//   width: 300px !important;
//   background-color: red !important;
// }
