<form [formGroup]="form">
  <h1 mat-dialog-title>Welcome</h1>
  <div mat-dialog-content>
    <p>Login</p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        type="text"
        formControlName="email"
        class="form-control"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        name="password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <p>
      dont have account? <a class="link" (click)="goToRegister()">signup</a>
    </p>
  </div>

  <div mat-dialog-actions>
    <button
      style="background-color: green"
      mat-button
      cdkFocusInitial
      (click)="login()"
    >
      Sign In
    </button>
    <button
      style="background-color: rgb(221, 61, 61)"
      mat-button
      (click)="onNoClick()"
    >
      No Thanks
    </button>
  </div>
</form>
