.container {
  color: white;
  height: 300px;
  background-color: rgb(26, 25, 25);
  text-align: center;
  background-image: url(https://images.alphacoders.com/114/1149960.jpg);
  background-size: cover;
  opacity: 0.2;
  .header {
    padding: 10px;
  }
}
.footer-header {
  background-color: rgb(34, 45, 57);
  height: 40px;
}
