.container {
  display: flex;
  flex-direction: row;
  background: #1d252c;
  height: 400px;
  width: 1200px;
  margin: auto;
  position: relative;
  margin-top: 20px;

  .ratings {
    background-color: #343a53;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top-right-radius: 0;
    color: aliceblue;
    .rating-order-wrp {
      .d-flex {
        display: flex;
      }
      .align-items-center {
        align-items: center;
      }
      .w-50 {
        width: 50%;
      }
      .rating-list {
        border-top: 1px solid #ddd;
        padding: 15px 0;
      }
    }
  }
  .text-content {
    margin: 30px 30px 30px 20px;
    color: aliceblue;
  }
}

.seasons {
  display: flex;
  color: aliceblue;
  margin-right: 1070px;
  margin-top: 20px;
}

::ng-deep {
  label.star {
    padding: 0 5px !important;
    font-size: 20px !important;
    color: #ddd !important;
    &::before {
      content: '\f005' !important;
    }
    &:hover {
      transform: rotate(0deg) scale(1.2) !important;
      color: yellow !important;
    }
  }
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #121212 !important;
    border: 1px solid;
    border-radius: 20px;
    width: 130px;
  }
  .mdc-menu-surface.mat-mdc-select-panel {
    width: 200px;
    margin-left: 50px !important;
    position: static;
    padding: 8px 0;
    background: #1d252c;
    list-style-type: none;
    max-height: 100% !important;
  }
}
.list-container-wrapper {
  display: grid;
  place-items: center;
}
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
  max-width: 1240px;

  .list-item {
    display: flex;
    flex-direction: column;
    color: white;
    background: #1d252c;
    padding: 10px;
    border-radius: 2px;

    .top-episode {
      color: aliceblue;
      font-size: 0.99rem;
      display: flex;
      flex-direction: row;
      .left {
        margin-top: 3px;
      }
      .right {
        transform: scale(0.85);
      }
    }
    .bot-episode {
      color: rgb(183, 188, 193);
      margin-left: 3px;
    }
  }
  .list-item:hover {
    background-color: #676c6f;
  }
}
