::ng-deep {
  .dialog {
    width: 375px !important;

    .mat-mdc-dialog-container {
      --mdc-dialog-container-color: #1d252c !important;
    }
    .mat-mdc-text-field-wrapper {
      width: 300px !important;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: #303840;
    }
  }
}
